[user]
	email = -@users.noreply.github.com
	name = -
[core]
	autocrlf = false
	editor = vim
	pager = less -iXFR
[i18n]
	logOutputEncoding = utf-8
	commitEncoding = utf-8
[diff]
	tool = vimdiff
[merge]
	tool = vimdiff
[difftool]
	prompt = false
[color]
	ui = true


# Index
#     * Overview
#     * Help
#     * Configure
#     * Github quick setup
#     * Branch 변경
#     * To get artifactory
#     * Status
#     * Move
#     * git commit --amend
#     * git reset vs git revert
#     * View contents of file
#     * log
#     * log - tag
#     * diff
#     * tag
#     * tag - remove
# 
# Overview
#     Workflow
# 
#         working directory       staging area        git directory(repository)
#               |                      |                          |
#               |  stage files(수정)   |                          |
#               |--------------------->|                          |
#               |                      |  commit & push           |
#               |                      |------------------------->|
# 
#     Getting and Creating Projects
# 
#         - init(Initializes a new Git repository.)
#         - clone
# 
#     Basic Snapshotting
# 
#         - add
#         - status
#         - diff
#         - commit
#         - reset
#         - rm, mv
#         - stash
# 
#     Branching and Merging
# 
#         - branch
#         - checkout
#         - merge
#         - log
#         - tag
# 
#     Sharing
# 
#         - fetch
#         - pull(If you want the most up-to-date version of your repository to work with.)
#         - push(If you want your commits to be visible online on GitHub as well.)
#         - remote
# 
#     Inspection and Comparison
# 
#         - log
#         - diff
# 
# Help
#     git help branch
# 
# Configure
#     * LF4Linux, LFCR4Windows
# 
#     export LC_ALL=C.UTF-8     # for git log
#     export LESSCHARSET=UTF-8  # for git log
# 
#     git config --global user.name  "아무개"  
#     git config --global user.email "your_email@lgcns.com"  
# 
#     git config --global core.autocrlf true
#         autocrlf=true   x -> LF -> CRLF
#         autocrlf=input  x -> LF -> LF
#         autocrlf=false  x -> x  -> x
#     git config --global i18n.logOutputEncoding utf-8
#     git config --global i18n.commitEncoding utf-8
# 
#     git config --global core.editor "vim"
#     git config --global diff.tool vimdiff
#     git config --global merge.tool vimdiff
#     git config --global --add difftool.prompt false
# 
#     git config --global color.ui true
#     git config --global --replace-all core.pager "less -iXFR"
# 
#     git config --global --list # for ~/.gitconfig
#     git config --system --list # for /etc/gitconfig
# 
#     git config --global --edit
# 
# Github quick setup
#     TODO
#         * README
#         * LICENSE
#         * .gitignore
# 
#     # 1
#     git init
# 
#     # 2
#     git add README.md
#     git commit -m "first commit"
# 
#     # 3
#     git remote add origin<REMOTE_REPO_OR_NAME> git@github.com:JinnampoJisanri90/<REPO_NAME>.git
#     git remote set-url origin<REMOTE_REPO_OR_NAME> git@github.com:JinnampoJisanri90/<REPO_NAME>.git
# 
#         | To see repository
#         |     $ git remote -v
#         |           origin    https://github.com/alpha/bravo (fetch)
#         |           origin    https://github.com/alpha/bravo (push)
# 
#     git remote -v
# 
#     git branch -M master
#     git push -u origin master
# 
#         | To set upstream
#         |     Example message
#         |         $ git push
#         |             fatal: The current branch develop has no upstream branch.
#         |             To push the current branch and set the remote as upstream, use
#         |                 git push --set-upstream origin develop
#         |                                                                            
#         |         $ git remote show origin
#         |                                                                            
#         |     Create branch locally
#         |                                                                            
#         |         # Create a new branch and check it out
#         |         git checkout -b <branch-name>
#         |                                                                            
#         |     The remote branch is automatically created
#         |     when you push it to the remote server.
#         |                                                                            
#         |         git push <remote-name> <branch-name> 
#         |         <remote-name> is typically origin
#         |                                                                            
#         |     Formally, the format is
#         |                                                                            
#         |         git push <remote-name> <local-branch-name>:<remote-branch-name>
#         |                                                                            
#         |     when you omit one, it assumes both branch names are the same. 
#         |     As a word of caution, only :<remote-branch-name> (with the colon),
#         |     the remote branch will be deleted!
#         |     you might instead want to use
#         |                                                                            
#         |         git push --set-upstream <remote-name> <local-branch-name> 
#         |                                                                            
#         |     the --set-upstream option sets up an upstream branch
#         
# Branch 변경
#     $ git branch
#     $ git branch -a # 원격과 로컬 모두 보여줌
#     $ git branch -r # list remote branches
# 
#     $ git checkout localBranch
# 
# To get artifactory
#     $ git pull
#     $ git pull remotename branchname
#     $ git diff HEAD origin/master  # 첫 pull 이후 origin/master와 diff필요  
# 
#     $ git fetch # 현재 위치(branch)로 가져오되 머지는 안함  
#     $ git merge # 현재 위치(branch)에서 다른곳에서 수정된 것과 병합하기  
# 
# Status
#     $ git status -s
#     $ git status -v
#     $ git status
# 
# Move
#     git mv dockerfile Dockerfile
# 
# git commit --amend
#     Changing a commit message
# 
#     Commit has not been pushed online
# 
#     If the commit only exists in your local repository
#     and has not been pushed to GitHub, 
#     you can amend the commit message
# 
#     If you have already pushed the commit to GitHub,
#     you will have to force push a commit with an amended message.
#     We strongly discourage force pushing,
#     If you force push,
#     people who have already cloned your repository will have to manually fix their local history.
# 
# git reset vs git revert
#     https://www.pixelstech.net/article/1549115148-git-reset-vs-git-revert
# 
#     Cancel a commit not pushed
#         git reset --soft HEAD~
# 
#     Delete last commit after pushs
#         git reset --hard HEAD~1
# 
#         git push -f <remote> <branch>
#         git push -f origin master
# 
# View contents of file
#     git show b1b22df407417:Makefile
# 
#     # current version in master branch
#     git show master:Makefile
# 
#     # previous version on the exper branch
#     git show exper^:Makefile
# 
#     | A detached HEAD
#     |     https://careerkarma.com/blog/git-head-detached-at/
#     | 
#     |     A detached HEAD occurs when you are viewing a single commit in the history of a Git repository.
#     |     You’ll see a message whenever you enter into
#     |     Detached HEAD state informing you that you are no longer on a branch.
#     | 
#     |     Discard Changes in a Detached HEAD
#     | 
#     |         You do not need to save the changes you make to a detached HEAD.
#     | 
#     |         Once you are done viewing a previous commit, 
#     |         you can go back to the HEAD of your repository.
#     |         First, we need to discard the changes we made
#     | 
#     |             git reset --hard
#     | 
#     |         Next, we can check out the HEAD of our master branch
#     | 
#     |             git checkout master
#     | 
#     |         This will change your current HEAD to the tip of the master branch. 
#     |         None of the changes you made in the detached HEAD state will be reflected on your repository.
#     | 
#     |     Save Changes to a Detached HEAD
#     | 
#     |         To save a change from a detached HEAD,
#     |         you need to create a new Git branch:
#     | 
#     |             git branch dev
# 
# log
#     git log --all -- '**/my_file.png' | less
#     git log --all | less
# 
#     git log -5
#     git log --pretty=oneline
# 
#     git log --name-only
#     git log --name-status
#     git log --stat
# 
#     git log --author='author' | less
#     git log --after="2013-11-12 00:00" --before="2013-11-12 23:59"
# 
#     gitk
#     gitk [filename]
# 
# log - tag
#     git tag -l
#     git tag -l -n9
#     git tag -l -n9 v3.*
#     git ls-remote --tags origin
# 
# diff
#     git fetch && git diff --name-only ..origin
#     git difftool -- Dockerfile HEAD
# 
# tag
#     git tag -a v0.0.0.1 -m "Dockerfile 수정"
#     git tag v0.0.1.4
#     git push origin --tags
# 
# tag - remove
#     from local
#         git tag -d v0.0.1.4
# 
#     from remote
#         git push --delete origin v0.0.1.2
# 
